.par-text{
    height:200px;
    background-color:#16235e;
    font-size:25px ;
    color:#fff;
    
    font-weight: 200;
}

.par-text{
    text-align: center;
}

  .work{
    text-align: center;
    color: #302bb5;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 100px 0 30px;
  }
  .parallax-fire{
    
        /* The image used */
        background-image: url("../../assets/fire1.jpg");
      
        /* Set a specific height */
        min-height: 300px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
      
  }