


.about{
    width:100%;
    min-height: 50vh;
    background:  url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-text{
    text-align: center;
    max-width: 800px;
}

.about-text h1{
    font-size: 60px;
    font-weight: 600;
}
.containernav{
    padding-left: 10%;
    padding-right: 10%;
  }

  .abo-container {
    gap: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px; /* Adjust as needed */
    padding-bottom: 30px; 
  }
  
  .abo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .abo-left {
    flex: 40%;
    /* margin-left: 40px; */
    align-items: center;
    justify-content: center;
    /* padding-left: 40px; */
    position: relative;
   
  }
  .abo-right{
    flex: 50%;
    /* margin-left: 40px; */
    align-items: center;
    justify-content: center;
    /* padding-left: 40px; */
  }
  
  .abo-left {
    order: 1;
  }
  
  .abo-right {
    order: 2;
  }
  
  .servimg {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .abo.right .service-left {
    order: 2;
  }
  
  
  .abo.right .service-right {
    order: 1;
  }
  
  .abo-container h3 {
    
    font-weight: 600;
    font-weight: 16px;
    color:  #302bb5;
    max-width: 900px;

    margin-bottom: 10px;
  }
  
  .abo-container h2 {
    
    font-size: 35px;
    color:  #16235e;
    margin: 10px 0;
    max-width: 400px;

    margin-bottom: 20px;
  }
  
  .abo-container p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
.abo-container .btnserv{
    
    
        background: #16235e;
        color: #fff;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
      
      
}

.abo-container .btnserv img{
    width: 30px;
    margin-left: 10px;
}


  /* .banner2-left img {
    animation: slideInLeft 2s ease-in;
  }
   */

   .card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.management{
   
    margin-bottom: 70px;
}

   .image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
   transition: all 0.3s ease-in-out;
     z-index: 20;
  
    box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.49);
    
  }
  .card-wrapper1{
    position: relative;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
    &:hover{
      .image{
         filter: blur(1.4px);
         transform: scale(1.5);
         overflow: hidden;
        transition: all 0.3s linear;
         box-shadow: inset -6px -1px 32px 0px rgba(0,0,0,0.75);
      }
      .card-bottom{
        transform: translate(0%, -50%);
        transition: all 0.8s ease;
         background-color:rgba(105, 134, 192, 0.7);
      }
    }
    box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.49);
  }
  
  .card-wrapper1:last-child {
    margin-right: 0; /* Remove margin on the last card to avoid extra space */
}

  .card-top{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .card-bottom{
    width: 100%;
    position: absolute;
    z-index: 20;
    display: nonee;
    top: 50%;
    background-color:rgba(110, 122, 92, 0);
    padding: 100px 20px;
    color: #ffffff;
     transform: translate(100%, -50%);
  }
  
  .top-text{
  font-size: 25px;
  line-height: 40px;
    font-weight: bold;
    letter-spacing: 1px
  }
  
  .bottom-text{
   font-size: 15px;
   
  }
  
  
  .button{
    position: relative;
    display: block;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
    border: none;
    border-radius: 3px;
    background-color: #f8961e;
    color: #ffffff;
    padding: 5px 20px
  }


  /* .mySlides{
    display: none;
  }
  /* Slideshow container 
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* The dots/bullets/indicators 
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  
  /* Fading animation 
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  } */
  
  /* slideshow css */
  .swiper_container {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
  }
  
  .swiper-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .swiper-slide img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .swiper-slide img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }