@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
} */
body{
   /* background-color: azure; */
   /* background: linear-gradient(135deg, #000000, #16235e 50%, #ffffff); */
   /* background-image: linear-gradient(to bottom right, rgb(18, 44, 109), rgb(34, 99, 146));
   background: url('assets/backgg.png');
  
   background-size: cover */
    /* background: linear-gradient( #16235e, rgb(145, 155, 169)) */

}
/* a{
 text-decoration: none;
 color: inherit;
 line-height: 1;
 cursor: pointer;   
} */